<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>Cerberus - Continuous Integration Testing</title>
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen">
</head>
<body>

<div id="pageContainer">

	<div id="pageHeader">
		<h1>Cerberus</h1>
		<h2>Continuous Integration Testing</h2>
	</div>

<div class="content">	
<%=yield%>
</div>

</div>

</body>
</html>
